<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">FrontEnd</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#" navbarNavAltMarkup
                arial-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    <a class="nav-link" routerLink="/add"></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- content -->
    <div class="container">
        <div class="max-auto w-25" style="max-width: 100%;">
            <h2 class="text-center">Update User</h2>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <!-- name -->
                <div class="row">
                    <div class="col-md-12 form-group mb-3">
                        <label for="name" class="form-label"> Name</label>
                        <input type="text" name="name" id="name" formControlName="name" class="form-control"
                            [placeholder]="user?.name"required>
                    </div>
                </div>

                
                <!-- Email -->
                <div class="row">
                    <div class="col-md-12 form-group mb-3">
                        <label for="email" class="form-label"> Email</label>
                        <input type="email" name="email" id="email" formControlName="email" class="form-control"
                            [placeholder]="user?.email" required>
                    </div>
                </div>

                
                <!-- Button -->

                <div class="col-md-12 form-group">
                    <input type="submit" value="Submit" class="btn btn-primary w-100" [disabled]="!form.valid"> 
                </div>
            </form>
        </div>
    </div>
</body>

</html>